.container {
  display: table;
  width: 100%;
  min-height: 100vh;
}
.textContainer {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 2;
}
.text {
  width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  letter-spacing: -0.05em;
  font-size: 80px;
  color: #fff;
}

.whatWeDoing {
  position: relative;
  padding-bottom: 56px;
  margin-bottom: 75px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.whatWeDoing::after {
  position: absolute;
  left: 50%;
  bottom: 0px;
  height: 2px;
  background: rgb(255, 255, 255);
  width: 120px;
  margin-left: -60px;
  content: "";
}
.doingStuff {
  position: relative;
  text-align: center;
}
.doingText {
  display: block;
  /* margin: 0px -1000px; */
  font-size: 240px;
  line-height: 1.08;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: -0.055em;
  color: #fff;
  text-align: center;
}
@media (max-width: 1500px) {
  .doingText {
    font-size: 170px;
  }
}
