.container {
  position: fixed;
  z-index: 60;
  bottom: 0;
  box-sizing: border-box;
  transform-origin: 50% 100%;
  text-align: center;
  margin-left: 100px;
  height: 77.4%;
  transform-origin: 0 100%;
  width: 455.799px;
  left: 43.4999%;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.container img {
  transition-delay: 0.01ms;
}
.personChanger {
  position: absolute;
  top: 0;
  left: 22%;
  width: 50%;
  bottom: 0;
  height: 100%;
}
